/* *{
    font-family: 'Raleway', sans-serif;
} */

.prize svg {
    height: 100px;
}

#domain
{
    line-height: 40px;
}
#divider
{
    width: 700px;
    margin-left: 350px;
    background-color: black;
}
#event
{
    word-spacing: 2px;
    font-size: 22px;
}
